node_modules/
.env
dist/
coverage/
*.log
.DS_Store
.vscode/
.idea/
*.swp
*.swo
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-debug.txt
pip-delete-this-directory.txt/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.docusaurus/
.cache-loader/
*.tsbuildinfo
next-env.d.ts
.next/
out/
build/